html{
   font-family: 'Nunito', sans-serif;
}

.redes_sociais{
   background-color: #000000;
}

.redes_sociais .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
   margin: 0 auto;
   height: 50px;
}

.icon-redes_sociais{
   display: flex;
   align-items: baseline;
   justify-content: space-between;
   width: 14%;
}

.img-redes_sociais{
   width: 16px;
}

.bt_login_redes_sociais{
   background-color: #FD8524;
   color: #ffffff;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
   height: max-content;
   padding: 10px 20px;
   font-size: 12px;
}

.bt_login_redes_sociais:hover{
   background-color: #000000;
   transition: 200ms;
}

.cabecalho_principal .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
   margin: 1% auto;
}

.menu-cabecalho_principal{
   width: 70%;
}

.menu-lista{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.link_menu_lista{
   text-decoration: none;
   font-size: 16px;
   color: #000000;
   font-weight: 400;
   text-transform: uppercase;
}

.link_menu_lista_bt{
   background-color: #FD8524;
   height: 30px;
   width: 170px;
   padding: 0px 10px;
   font-size: 12px;
   text-decoration: none;
   color: #ffffff;
   font-weight: 700;
   text-transform: uppercase;
}

.link_menu_lista_bt:hover{
   background-color: #000000;
   transition: 300ms;
}

.item-menu{
   width: 100%;
   min-height: 30px;
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
}

.link_menu_lista_bt_icon{ /* icone em bt cabecalho */
   padding: 0 5% 0 0;   
}

.link_menu_lista_bt_title{ /* Palavra em bt cabeçalho */
   border-left: 1px solid;
   line-height: 2.4em;
   padding: 0 0 0 10%;
}


.sticky{
   position: fixed;
   margin: 1% auto;
   background-color: #000000be;
   top: -13px;
   width: 100%;
   transition: 200ms;
}
