@media screen and (max-width:425px) {
   /* Cabeçalho */
   .redes_sociais .container{
      flex-direction: column;
      height: auto;
      padding: 2% 0;
      row-gap: 10px;
   }
   
   .icon-redes_sociais{
      width: 50%;
   }
   
   .sticky{
      top: -4px;
   }
   
   .cabecalho_principal .container{
      flex-direction: column;
      width: 100%;
   }

   .logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
   }
   
   .menu-cabecalho_principal{
      display: none;
   }

   .menu-lista{
      flex-direction: column;
      display: block;
      background-color: #f8f8f8;
   }
   
   .bt_toggle_menu{
      display: inline-block;
   }
   
   .ativa{
      display: inline-block;
      width: 100%;
   }

   .link_menu_lista{
      font-size: 11px;
   }

   .item-menu{
      padding: 0 0 0 5%;
      border-top: 1px solid rgb(189, 189, 189);
   }

   .link_menu_lista_bt{
      background-color: #ffffff;
      color: #000000;
      padding: 0;
      font-weight: normal;
   }

   .link_menu_lista_bt i{
      display: none;
   }

   .txt_teste{
      border: none;
   }
   
   
   /* Seção sobre */
   .secao_intro{
      height: auto;
   }
   
   .secao_intro .container{
      row-gap: 35px;
      width: 85%;
   }
   
   .titulo_intro{
      font-size: 1.9rem;
   }
   
   .botoes_intro{
      height: 110px;
   }

   .bt_intro{
      padding: 0.7rem 1.2rem;
      font-size: 13px;
      text-align: center;
   }
   
   
   /* Seção Sobre */
   .secao_sobre{
      background-image: none;
      height: auto;
   }
   
   .secao_sobre .container{
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
   }
   
   .card_sobre{
      width: 100%;
      height: auto;
   }
   
   .porcentagem{
      width: 100%;
   }
   
   .valor{
      width: 100%;
   }
   
   
   /* Seção Valores */
   .secao_valores .container{
      flex-direction: column;
   }
   
   .card_valores{
      width: 100%;
   }
   
   
   /* Rodape */
   .rodape .container{
      flex-wrap: nowrap;
      row-gap: 30px;
      height: auto;
      width: 90%;
   }
}

